@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

:root {
  /* Colores */
  --color-primary: #d86aff;
  --color-secundary: #ab3ed8;
  --color-terciario:  #7f00b2;
  --color-four: #650099;
  --color-five: #4b0081;
  --color-white:#f2f2f2;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}