.footer {
  background: var(--background-footer);
  padding: 4em 0em;
  margin-top: 3em;
}

.footer_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.footer_container_column {
  display: grid;
  align-items: center;
  justify-items: center;
}

.footer_container_column a {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-white);
  text-decoration: none;
}

.footer_copyright {
  text-align: center;
  color: var(--color-white);
  font-size: 0.8rem;
}

.footer_copyright p {
  margin: 1.2rem 2rem;
}
